table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border: 2px solid var(--primary-color);
}

th,
td {
  padding: 0.5rem 1rem;
}

th {
  background-color: var(--primary-color);
  color: #FFFFFF
}

td.title {
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: hsl(0, 0%, 90%);
}