.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 40vw;
  min-width: 330px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
}

.modal-header {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.modal-title {
  margin: 0
}

.modal-body {
  padding: 2rem;
}

.modal-status-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}


.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}


.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active::after {
  background-color: #ccc;
}

.stepper-item.active::before {
  background-color: #ccc;
}

.stepper-item.completed .step-counter {
  background-color: var(--primary-color);
  ;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--primary-color);
  ;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}




.status-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.transfer-title {
  border-bottom: 1px solid #000;
  padding-bottom: 0.4rem;
  width: 100%;
}

.transfer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.close-modal-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: none;
  background-color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0;
}